body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(135, 190, 241, 0.3);
}

h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
  margin-bottom: 5px;
}

select {
  width: 100%;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}

.city {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
}

.date {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 10px;
}

.time {
  font-size: 34px;
  line-height: 3.5;
  font-weight: bold;
}

.time small {
  font-size: 20px;
  vertical-align: middle;
}

footer {
  text-align: center;
  opacity: 0.6;
}
