:root {
  /* --primary-color: #f6ebf4;
  --font-color: #482673;
  --accent-color: #4cbfa6;*/
  --primary-color: #d6d6d6;
  --font-color: #f57a95;
  --accent-color: #4f4f51;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--primary-color);
  color: var(--font-color);
}

h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
  margin-bottom: 5px;
}

a {
  color: var(--font-color);
}

a:hover {
  color: var(--font-color);
  font-weight: 500;
}

select {
  width: 100%;
  color: var(--font-color);
}

h1 a {
  text-decoration: none;
  color: var(--font-color);
  transition: all 150ms ease-in-out;
}

h1 a:hover {
  color: var(--font-color);
  font-weight: 700;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: white;

  padding: 30px;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}

.city {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  border-bottom: 1px dashed var(--font-color);
  margin-bottom: 5px;
}

.city:last-child {
  border: none;
}

.date {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 10px;
}

.time {
  font-size: 34px;
  line-height: 3.5;
  font-weight: bold;
}

.time small {
  font-size: 20px;
  vertical-align: middle;
}

footer {
  text-align: center;
  opacity: 0.6;
  margin-bottom: 30px;
  color: var(--accent-color);
}

footer a {
  color: var(--accent-color);
  transition: all 150ms ease-in-out;
}

footer a:hover {
  color: var(--accent-color);
  font-weight: 500;
}

@media (max-width: 600px) {
  .container {
    max-width: 300px;
  }

  .city {
    text-align: center;
  }

  select {
    margin-top: 5px;
  }
}
